.wellcome {
    margin-left: 430px; font-size: 90px;
}
.a {
    margin-left: 555px; margin-bottom: 100px;
}
.continue {
    margin-left: 490px; margin-top: 200px;
}
.input-name {
    margin-left: 500px; font-size: 90px;
}
